<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Spring boot</title>

    <link rel="stylesheet" href="normalize.css" />
    <link rel="stylesheet" href="skeleton.css" />

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"/>
    <script type="text/javascript">
        function openRegistrationForm() {
            $("#signup").hide().html();

            var url = '/registration/registrationForm';
            $("#htmltext").load(url);
        }
        function validateCredentials() {
            var email = $("#email").val();
            var password = $("#password").val();
            var data = {'email': email, 'password': password};

            var url = '/registration/validation';
            $.post(url, data,
                function(newHtmlText, status){
                    $("#htmltext").html(newHtmlText);
                }
            );
        }
    </script>
</head>
<body>
    <div class="container">
        <form class="u-pull-right" id="signup" >
            <button class="button-primary" type="button" onclick="openRegistrationForm()">Sign up</button>
        </form>
        <div class="sixteen columns">
            <div class="nine columns offset-by-two" id="htmltext">

            </div>
        </div>
    </div>
</body>
</html>