<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Spring boot</title>

    <!-- CSS
    ============================== -->
    <link rel="stylesheet" href="normalize.css" />
    <link rel="stylesheet" href="skeleton.css" />

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"/>
    <script type="text/javascript">
        function openRegistrationForm() {
            $("#signup").hide().html();

            var url = 'registrationForm';
            $("#htmltext").load(url);
        }
        function validateCredentials() {
            var email = $("#email").val();
            var password = $("#password").val();
            var data = {'email': email, 'password': password};

            var url = 'validation';
            $.post(url, data,
                    function(newHtmlText, status){
                        $("#htmltext").replaceWith(newHtmlText);
                    }
            );
        }
    </script>
</head>
<body>
<div class="container">
    <form class="u-pull-right" id="signup" >
        <button class="button-primary" type="button" onclick="openRegistrationForm()">Sign up</button>
    </form>
    <div class="sixteen columns">
        <div class="five columns offset-by-two" id="htmltext">

        </div>
    </div>


    <!--<div th:if="${showRegistration}">
        <h1>Registration</h1>

        <form th:object="${user}">
            <div class="form-group">
                <label for="email">email </label>
                <input id="email" type="email" />
            </div>
            <div class="form-group">
                <label for="password">pass </label>
                <input id="password" type="password" th:field="*{password}"  />
            </div>

            <button class="button-primary" type="button" onclick="validateCredentials()">Create my account</button>
        </form>
    </div>-->

</div>
</body>
</html>