<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Spring boot</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"/>
    <script type="text/javascript">
        function doSignUp() {
            /*$("#signup").hide().html().fadeIn('slow');*/
            $("#signup").hide().html();

            var url = 'registrationform';
            $("#results").load(url);
        }
        function doValidation() {
            /*$("#signup").hide().html().fadeIn('slow');*/
            /*$("#signup").hide().html();*/
            $("#results").hide().html();

            var url = 'velidation';
            $("#success").load(url, function(response, status, xhr) {
                if (status == "error") {
                    var msg = "Sorry but there was an error: ";
                    $("#error").html(msg + xhr.status + " " + xhr.statusText);
                }
            });
        }
    </script>
</head>
<body>
    <form id="signup" >
        <button type="button" onclick="doSignUp()">Sign up</button>
    </form>
    <div id="results">

    </div>
    <div id="success">

    </div>
</body>
</html>